Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g24, pull requests merged in 2022-10, with the labels that each got.

#97 Complete APIs for matching and collab service
  collaboration-service/db/db.js
  collaboration-service/server.js
  frontend/src/views/CodingPage/CodingPage.js
Labels: Sprint 7, collab-service

#95 Add popup when saving code and leaving coding page
  frontend/src/components/CodeNavBar/CodeNavBar.js
  frontend/src/components/CodeNavBar/codenavbar.scss
  frontend/src/components/ControlDropdown/controlDropdown.scss
  frontend/src/components/Editor/Editor.js
  frontend/src/components/Editor/editor.scss
  frontend/src/views/CodingPage/CodingPage.js
  frontend/src/views/CodingPage/codingPage.scss
Labels: Sprint 6

#101 Popup for leaving session
  collaboration-service/server.js
  frontend/src/components/CodeNavBar/CodeNavBar.js
  frontend/src/views/CodingPage/CodingPage.js
  frontend/src/views/DashboardPage/MainComponent.js
Labels: Frontend, Sprint 7

#102 100 refresh coding bug
  frontend/src/App.js
Labels: bug, Frontend, Sprint 7

#108 deploy matching and collab service to aws eb
  collaboration-service/.gitignore
  collaboration-service/server.js
  frontend/src/views/CodingPage/CodingPage.js
  frontend/src/views/DashboardPage/MainComponent.js
  matching-service/.gitignore
  matching-service/server.js
Labels: matching-service, collab-service, Sprint 8

#99 91 email service for signup page
  frontend/src/App.js
  frontend/src/components/EmailVerify/EmailVerify.js
  frontend/src/components/EmailVerify/emailVerification.scss
  frontend/src/constants.js
  frontend/src/slices/verificationSlice.js
  frontend/src/store/store.js
  frontend/src/views/HomePage/HomePage.js
  frontend/src/views/HomePage/homepage.scss
  frontend/src/views/SigninPage/SigninPage.js
  frontend/src/views/SignupPage/SignupPage.js
  frontend/src/views/SignupPage/signup.scss
  user-service/controllers/users-controllers.js
  user-service/models/token.js
  user-service/models/user.js
  user-service/package-lock.json
  user-service/package.json
  user-service/routes/users-routes.js
  user-service/test/test.js
  user-service/utils/email-service.js
Labels: Sprint 6

#109 105 improve verification email format
  frontend/src/views/HomePage/HomePage.js
  frontend/src/views/SignupPage/SignupPage.js
  user-service/controllers/users-controllers.js
  user-service/package-lock.json
  user-service/package.json
  user-service/utils/email-service.js
  user-service/utils/email.handlebars
Labels: enhancement, Frontend

#111 Implement light dark mode for coding editor
  frontend/src/assets/moon.svg
  frontend/src/assets/sun.svg
  frontend/src/components/Editor/Editor.js
  frontend/src/components/Editor/ThemeToggle.js
  frontend/src/components/Editor/editor.scss
  frontend/src/components/Editor/themetoggle.scss
  frontend/src/views/CodingPage/CodingPage.js
Labels: Frontend

#117 Reset password feature
  collaboration-service/server.js
  frontend/src/App.js
  frontend/src/configs.js
  frontend/src/views/AccountRecoveryPage/AccountRecoveryPage.js
  frontend/src/views/AccountRecoveryPage/PasswordResetPage.js
  frontend/src/views/AccountRecoveryPage/accountRecovery.scss
  frontend/src/views/CodingPage/CodingPage.js
  frontend/src/views/DashboardPage/MainComponent.js
  frontend/src/views/SigninPage/SigninPage.js
  matching-service/server.js
  user-service/controllers/users-controllers.js
  user-service/routes/users-routes.js
  user-service/test/test.js
  user-service/utils/account-recovery.handlebars
  user-service/utils/email-service.js
  user-service/utils/verification.handlebars
Labels: Frontend, backend
