Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g24, pull requests merged in 2022-09, with the labels that each got.

#30 Restructure dashboard format
  frontend/src/App.js
  frontend/src/views/DashboardPage/DashboardComponent.js
  frontend/src/views/DashboardPage/DashboardPage.js
  frontend/src/views/DashboardPage/DashboardTopBar.js
  frontend/src/views/DashboardPage/MainComponent.js
  frontend/src/views/DashboardPage/MainPage.js
  frontend/src/views/DashboardPage/dashboardComponent.scss
  frontend/src/views/DashboardPage/dashboardPage.scss
  frontend/src/views/DashboardPage/dashboardTopBar.scss
  frontend/src/views/DashboardPage/mainComponent.scss
  frontend/src/views/SigninPage/SigninPage.js
  frontend/src/views/SignupPage/SignupPage.js
Labels: Frontend

#32 Feature/initialise matching service
  frontend/package.json
  frontend/src/App.js
  matching-service/.gitignore
  matching-service/index.js
  matching-service/package.json
  matching-service/queue/queue.js
  matching-service/server.js
Labels: matching-service

#31 Implement react-cookies for authentication
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Navbar/Navbar.js
  frontend/src/components/UserMenu/UserMenu.js
  frontend/src/configs.js
  frontend/src/views/DashboardPage/DashboardPage.js
  frontend/src/views/DashboardPage/dashboardPage.scss
  frontend/src/views/SigninPage/SigninPage.js
  frontend/src/views/SignupPage/SignupPage.js
Labels: enhancement, Frontend

#40 Feature/route guard
  user-service/app.js
  user-service/controllers/users-controllers.js
  user-service/middleware/check-auth.js
  user-service/routes/users-routes.js
  user-service/test/test.js
Labels: user-service, backend, sprint 4

#41 Implement queue as a pql DB on AWS RDS
  matching-service/db/db.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/queue/queue.js
  matching-service/server.js
Labels: matching-service

#44 Integrate Endpoints for deleteUser and updatePassword, and UI changes
  frontend/src/App.js
  frontend/src/assets/logo.png
  frontend/src/assets/mainlogo.png
  frontend/src/components/Navbar/Navbar.js
  frontend/src/components/Navbar/navbar.scss
  frontend/src/components/UserMenu/UserMenu.js
  frontend/src/constants.js
  frontend/src/router/index.js
  frontend/src/views/DashboardPage/DashboardPage.js
  frontend/src/views/DashboardPage/dashboardPage.scss
  frontend/src/views/HomePage/HomePage.js
  frontend/src/views/SigninPage/SigninPage.js
  frontend/src/views/SigninPage/signin.scss
  frontend/src/views/SignupPage/SignupPage.js
  frontend/src/views/SignupPage/signup.scss
  user-service/controllers/users-controllers.js
Labels: Frontend

#60 56 defensive checks to prevent same user from matching
  frontend/src/components/ControlDropdown/ControlDropdown.js
  frontend/src/views/DashboardPage/DashboardPage.js
  frontend/src/views/DashboardPage/MainComponent.js
  matching-service/db/db.js
  matching-service/queue/queue.js
  matching-service/server.js
Labels: bug, matching-service, Sprint 5

#62 Create collaboration service to create room for two clients
  collaboration-service/.gitignore
  collaboration-service/package-lock.json
  collaboration-service/package.json
  collaboration-service/server.js
  frontend/src/views/CodingPage/CodingPage.js
Labels: backend, Sprint 5, collab-service

#71 Fix codemirror peer dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Editor/Editor.js
Labels: bug, Frontend, Sprint 6

#75 Create redux store to store username room id question hashes
  collaboration-service/db/db.js
  collaboration-service/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.js
  frontend/src/slices/roomSlice.js
  frontend/src/slices/usernameSlice.js
  frontend/src/store/store.js
  frontend/src/views/CodingPage/CodingPage.js
  frontend/src/views/DashboardPage/DashboardPage.js
  frontend/src/views/DashboardPage/MainComponent.js
  matching-service/server.js
Labels: Frontend, Sprint 6, collab-service

#81 Refactor to reduce repeatable code
  frontend/src/App.js
  frontend/src/slices/roomSlice.js
  frontend/src/views/CodingPage/CodingPage.js
  frontend/src/views/CodingPage/CodingPageEasy.js
  frontend/src/views/CodingPage/CodingPageMedium.js
  frontend/src/views/DashboardPage/MainComponent.js
  matching-service/queue/queue.js
Labels: Frontend, matching-service

#82 Add room data to db and implement code saving/retrieving
  collaboration-service/db/db.js
  collaboration-service/server.js
  frontend/src/views/CodingPage/CodingPage.js
Labels: Frontend, collab-service

#83 67 prevent users from matching once timer runs out
  collaboration-service/server.js
  frontend/src/views/DashboardPage/MainComponent.js
Labels: bug, Frontend

#85 Add navbar to coding page
  frontend/src/components/CodeNavBar/CodeNavBar.js
  frontend/src/components/CodeNavBar/codenavbar.scss
  frontend/src/components/ControlDropdown/controlDropdown.scss
  frontend/src/components/Editor/Editor.js
  frontend/src/components/Editor/editor.scss
  frontend/src/views/CodingPage/CodingPage.js
  frontend/src/views/CodingPage/codingPage.scss
  user-service/package.json
Labels: Sprint 6
